@font-face {
    font-family: Fraunces;
    src: url("fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
 }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: Fraunces;
}



body {
    background-color: rgb(244, 246, 221);
    color: #333; 
    background-image: linear-gradient(to bottom, #2f653b, #ff5f5fc8);
    
}

nav {
    text-align: center;
    padding-bottom: 2.5vh;
    padding-top: 2vh;
    background-color: #f6efdd; 
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

html {
    height: 100%;
}

a {
    padding: 10px 5%; 
    font-size: 30px;
    margin: 0 5px; 
    text-decoration: none;
    color: #0e540e;
    font-weight: bold;
    
}

#biowhole {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    gap: 30px; 
    margin-top: 200px;
}

#pic {
    display: flex;
    justify-content: center;
}

.circle {
    border-radius: 100%;
    object-fit: cover;
    width: 230px;
    height: 230px;
    border: solid 5px beige;
}

#bio {
    text-align: justify;
    width: 40%; 
    border-radius: 20px;
    padding: 3vh;
    background-color: #f6efdd;
    margin-top: -12vh;
    
}

#gif {
position: fixed;
translate: 0 -80px;
}


h1 {
    margin: 20px 5% 10px; 
    text-align: center; 
    background-color: #0e540e;
    padding: 10px 10px;
    border-radius: 20px;
}

p {
    margin: 20px 5%; 
    line-height: 1.6; 
    color: #333; 
}

footer a {
    color: #EAE4D5; 
    font-weight: bold; 
}

footer a:hover {
    color: #BFAE8A; 
}

.list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    gap: 30px; 
    margin-right: 10vh;
    margin-left: 10vh;
    border-radius: 20px;
    background-color: #f6efdd;
}

.child {
    text-align: justify;
    width: 40%; 
    border-radius: 20px;
    padding: 50px;
    text-align: center;
}