@font-face {
    font-family: Fraunces;
    src: url("../fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
 }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: Fraunces;
}

body {
    background-image: radial-gradient(circle, #2f653b, #587136, #817b37, #ab8244, #d3885d, #d3885d, #d3885d, #d3885d, #ab8244, #817b37, #587136, #2f653b);

}

nav {
    text-align: center;
    padding-bottom: 2.5vh;
    padding-top: 2.5vh;
    background-color: #461919; 
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-transform: lowercase;
}

.gradientadjust {
    min-height: 100%;
}

a {
    padding: 10px 3.75%; 
    font-size: 30px;
    margin: 0 5px; 
    text-decoration: none;
    color: #0e540e;
    font-weight: bold;
    background-color: #f6efdd;
    border-radius: 20px;
    
    
}

#biowhole {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    gap: 30px; 
    margin-top: 100px;
    margin-bottom: 200px;
}

#pic {
    display: flex;
    justify-content: center;
}

.circle {
    border-radius: 100%;
    object-fit: cover;
    width: 230px;
    height: 230px;
}

#bio {
    text-align: justify;
    width: 40%; 
    border-radius: 20px;
    padding: 3vh;
    background-color: #f6efdd;
}

#gif {
position: fixed;
translate: 0 -15vh;
}

#bottombio {
    background-color: #f6efdd;
    padding-bottom: 100vh;
    border-top-left-radius: 100%;
}



h1 {
    margin: 20px 5% 10px; 
    font-size: 30px;
    text-align: center; 
    background-color: #0e540e;
    color: #f6efdd;
    padding: 10px 10px;
    border-radius: 20px;
    text-transform: lowercase;
}

p {
    margin: 20px 5%; 
    line-height: 1.6; 
    color: #333; 
}

footer a {
    color: #EAE4D5; 
    font-weight: bold; 
}

footer a:hover {
    color: #BFAE8A; 
}

.list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    gap: 30px; 
    margin-right: 10vh;
    margin-left: 10vh;
    border-radius: 20px;
    background-color: #f6efdd;
}

.child {
    text-align: justify;
    width: 40%; 
    border-radius: 20px;
    padding: 50px;
    text-align: center;
}

.onpage {
    background-color: #0e540e;
    color: #f6efdd;
}

#contacts {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
